Type in a new password and don't forget it again!!

<form action="/users/new_password" method="post">
	<input type="hidden" name = "token" value="<%= @token %>">
	New Password: <input name="password" type="password">
	New Password Confimation <input name="password_confirmation" type="password_confirmation">
	<input type= "submit" value="New Password">
</form>