<!DOCTYPE html>

	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
			<link href="/stylesheets/application.css"rel="stylesheet" type="text/css" >
		</head>

		<body>
		<header>
			<div id="logo"> Bookmark Manager </div>
			<div id="user-links">
				<%if current_user %>
					<span id="welcome-message">
						Welcome, <%= current_user.email %>
					</span>
					<form method="post" action="/users/sign_out">
						<input type="hidden" name="_method" value="delete">
						<input type="submit" value="Sign out">
					</form>
				<% end %>
			</div>
		</header>



				<% if flash[:errors] && !flash[:errors].empty? %>
					Sorry, there were the following errors with the form:
					<ul id "errors">
						<% flash[:errors].each do |error| %>
							<li><%=error%></li>
						<%end%>
					</ul>


			<% end%>

				<% if flash[:notice] %>
						<div id="notice">
							<%= flash[:notice] %>
						</div>
				<%end %>


				<%= yield %>

		</body>
	</html>