<!DOCTYPE html>

	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
			<link href="/stylesheets/application.css"rel="stylesheet" type="text/css" >
			 <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
			 <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
		</head>

		<body>
		<header>
		<div id="logo"> Bookmark Manager
			<%if current_user %>
				<a href="/links/new"><button class="nicebutton">Add Link</button></a>
				<form method="post" action="/users/sign_out">
				<input type="hidden" name="_method" value="delete">
				<input class="nicebutton"type="submit" value="Sign out">
				</form>
			<%else%>
				<form method="get" action="/sessions/new">
				 <input class="nicebutton" type="submit" value="Sign In">
				 </form>
				 <form method="get" action="/users/new">
				 <input class="nicebutton"type="submit" value="Sign Up">
				 </form>
			<%end%>
			</div>




			<div id="user-links">
				<%if current_user %>
					<span id="welcome-message">
						Welcome, <%= current_user.email %>
					</span>
				<% end %>
			</div>
		</header>



				<% if flash[:errors] && !flash[:errors].empty? %>
					Sorry, there were the following errors with the form:
					<ul id "errors">
						<% flash[:errors].each do |error| %>
							<li><%=error%></li>
						<%end%>
					</ul>


			<% end%>

				<% if flash[:notice] %>
						<div id="notice">
							<%= flash[:notice] %>
						</div>
				<%end %>


				<%= yield %>

		</body>
	</html>