<li class='link'>
  <a class='title' href="<%= link.url %>"><%= link.title %></a>
  <div class='description'>
    Literally pop-up cornhole selfies vinyl viral, Tonx flexitarian. Drinking vinegar pop-up four loko, gentrify hoodie flannel 3 wolf moon craft beer ethnic plaid blog Echo Park photo booth. Slow-carb cardigan readymade gluten-free flannel keytar. Bespoke banh mi Tonx single-origin coffee Helvetica Etsy, whatever ethnic pour-over brunch hella.
  </div>
  <span class='source'>
    added yesterday by
    <a href="#">NOT EVGENY</a>
  </span>
</li>